.bg-darker-1 {
    background-color: rgba(0, 0, 0, 0.05);
}

.bg-darker-2 {
    background-color: rgba(0, 0, 0, 0.1);
}

.bg-darker-3 {
    background-color: rgba(0, 0, 0, 0.15);
}

.bg-darker-4 {
    background-color: rgba(0, 0, 0, 0.2);
}

.bg-darker-5 {
    background-color: rgba(0, 0, 0, 0.25);
}

.bg-lighter-1 {
    background-color: rgba(255, 255, 255, 0.05);
}

.bg-lighter-2 {
    background-color: rgba(255, 255, 255, 0.1);
}

.bg-lighter-3 {
    background-color: rgba(255, 255, 255, 0.15);
}

.bg-lighter-4 {
    background-color: rgba(255, 255, 255, 0.2);
}

.bg-lighter-5 {
    background-color: rgba(255, 255, 255, 0.25);
}

body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#root {
    overflow: hidden;
}

input[type='file'] {
    display: none;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.15);
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 255, 255, 0.2);
}

.form-group,
.object-wrapper {
    margin-bottom: 1rem;
}

.form-group .field-description,
.object-wrapper .field-description {
    margin-bottom: 0.25rem;
}

.form-group.is-invalid .invalid-feedback,
.object-wrapper.is-invalid .invalid-feedback {
    display: block;
}

.form-group.is-invalid .form-control,
.object-wrapper.is-invalid .form-control {
    border: solid 1px #ee5f5b;
}

.form-group.is-valid .valid-feedback,
.object-wrapper.is-valid .valid-feedback {
    display: block;
}

.form-group.is-valid .form-control,
.object-wrapper.is-valid .form-control {
    border: solid 1px #62c462;
}

.form-group .rc-checkbox,
.object-wrapper .rc-checkbox {
    margin-left: 0.5em;
}

.form-group .slider-value,
.object-wrapper .slider-value {
    font-weight: 500;
    font-size: 90%;
}

.region-input {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: rgba(255, 255, 255, 0.05);
    min-width: 250px;
}

.region-input-text-input-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 2px;
    background: rgba(0, 0, 0, 0.1);
    border: solid 1px rgba(255, 255, 255, 0.1);
    min-height: 2em;
    padding: 0.25em 0.5em;
    font-size: 90%;
}

.region-input-text-input-row input {
    color: #fff;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    background: none;
    border: none;
}

.region-input-text-input-row input:focus {
    outline: none;
}

.region-input-text-input-row input::-webkit-input-placeholder {
    color: #ccc;
}

.region-input-text-input-row input:-ms-input-placeholder {
    color: #ccc;
}

.region-input-text-input-row input::-ms-input-placeholder {
    color: #ccc;
}

.region-input-text-input-row input::placeholder {
    color: #ccc;
}

.region-input-text-input-row .region-input-input-enter {
    color: #ccc;
}

.region-input-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.region-input-title {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.region-item-block {
    margin: 2px 0;
}

.region-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.region-item.selected .region-content.active {
    margin: 1px 1px 1px 0;
    color: #fff;
    font-weight: 600;
    background: rgba(0, 0, 0, 0.75) !important;
}

.region-item.locked {
    opacity: 0.25;
}

.region-color.deactive,
.region-content.deactive {
    background-color: rgba(0, 0, 0, 0.75);
}

.region-color.deactive .region-name-title,
.region-content.deactive .region-name-title {
    opacity: 0.25;
}

.region-content.active,
.region-content.deactive {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: rgba(0, 0, 0, 0.75);
}

.region-content.deactive:hover {
    cursor: default;
}

.region-content.active:hover {
    background: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.region-name-body {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.region-name-body .region-name-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.region-name-body .region-name-title .region-name-text {
    font-size: 15px;
    margin-top: auto;
}

.region-name-body .region-name-title .region-id-text {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    font-size: 10px;
    font-weight: normal;
}

.region-name-editor {
    background: transparent;
    border: none;
    color: #fff;
}

.region-name-editor:focus {
    outline: none;
}

.region-name-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    min-height: 1.8em;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.region-name-text {
    max-width: 195px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.region-index {
    -ms-flex-preferred-size: 30px;
    flex-basis: 30px;
    padding: 0 5px;
    font-weight: 600;
}

.region-item:hover.selected:hover,
.region-item:hover.applied:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

.region-color {
    width: 12px;
}

.region-lock-icon {
    font-size: 90%;
}

.region-input-color-picker {
    position: absolute;
    z-index: 1;
}

.region-input-toolbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.region-input-toolbar-item {
    color: #ccc;
    padding: 1px;
}

.region-input-toolbar-item:hover {
    color: white;
}

.region-state-icon {
    margin-left: 5px;
}

.regionlist {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

div.github-picker > span > div {
    margin: 2px;
}

div.circle-picker-container {
    background: #252526;
}

.tag-select {
    overflow: hidden;
    padding: 2px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.tag-select .selecter {
    position: relative;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.4);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2px;
}

.tag-select .selecter::before {
    position: absolute;
    top: 0.6em;
    right: 0.1em;
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #666666;
    pointer-events: none;
}

.tag-select .selecter select {
    width: 100%;
    text-indent: 0.01px;
    text-overflow: ellipsis;
    border: none;
    outline: none;
    background: transparent;
    background-image: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.tag-select .selecter select::-ms-expand {
    display: none;
}

.tag-select .tag {
    width: 70%;
}

.tag-select .confidence {
    width: 30%;
}

.tag-select .tag-select select {
    padding: 4px 10px 4px 4px;
    color: #666666;
}

.region-toolbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.region-toolbar .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.region-toolbar .button.deactive {
    opacity: 0.25;
    cursor: initial;
}

.region-toolbar .button i {
    margin: auto;
    cursor: pointer;
    color: #ccc;
    padding: 1px;
}
/*# sourceMappingURL=regionInput.css.map */
