.app-settings-page {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    min-height: fit-content;

    &-form {
        flex-grow: 1;
        overflow-y: scroll;
        // height: calc(100vh - 2rem - 34px - 24px);
        .app-settings-form {
            // overflow-y: scroll;
            height: calc(100vh - 2rem - 4rem - 34px - 24px);
            .form-control.is-valid,
            .was-validated .form-control:valid {
                background-image: none !important;
            }
        }
    }

    &-sidebar {
        flex-basis: 30vw;
    }

    .app-settings-button-set {
        margin-top: auto;
        display: flex;
        flex-direction: row;
        .form-buttons {
            margin-right: 10px;
        }
    }
}
