@use '../../../assets/sass/theme.scss' as *;

.page-main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    input {
        border-radius: 4px;
        background-color: #f1f1f1;
    }

    .page-toolbar {
        width: 100%;
        box-sizing: border-box;
        // display: flex;
        // flex-direction: column;
        // position: sticky;
        // top: 1rem;
        .toolbar {
            margin-left: auto;
            margin-right: auto;
        }
        .date-picker {
            margin-left: 5px;
            margin-right: auto;
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }

    .page-body {
        overflow-y: scroll;
    }
    .database-table-meta {
        overflow-y: scroll;
        margin-top: 24px;
        height: calc(100vh - 2rem - 32px - 24px - 161px);
    }
}

.task-progress-table {
    margin-top: 24px;
    height: calc(100vh - 2rem - 32px - 24px - 161px);
    width: 100%;
}
