@use '../../../assets/sass/theme.scss' as *;

.progress-report-toolbar {
    display: flex;
    height: 120px;

    ul {
        display: flex;
        flex-direction: row;
        margin: auto;
        flex-wrap: wrap;
        li {
            display: flex;
            list-style-type: none;
            margin-left: 10px;
            margin-right: 10px;

            .button-item {
                display: flex;
                flex-direction: column;
                width: 120px;
                height: 120px;
                &.active {
                    &:hover {
                        cursor: pointer;
                        background-color: $lighter-2;
                        // border: solid 1px $lighter-3;
                    }
                }
                &.deactive {
                    // background-color: $darker-2;
                    i,
                    .button-title {
                        // color: $darker-5;
                        opacity: 0.25;
                    }
                }
                .button-icon {
                    margin: auto;
                    a {
                        display: flex;
                        flex-direction: row;
                        text-align: center;
                        align-items: center;
                        margin-left: auto;
                        margin-right: auto;

                        i {
                            font-size: 80px;
                            text-align: center;
                        }
                    }
                }
                .button-title {
                    margin: auto;
                }
            }
        }
    }
}
