.asset-state-selector {
  display: flex;
  flex-direction: row;
  padding: 2px;
  position: absolute;
  bottom: 50px;
  right: 20px;
  z-index: 4;
  .button {
    margin: 0 2px;
    cursor: pointer;
    &.sample {
      i {
        color: green;
      }
    }
    &.store {
      i {
        color: red;
      }
    }
    &.freeze {
      i {
        color: yellow;
      }
    }
    &.freeze_store {
      i {
        color: deepskyblue;
      }
    }
    &.poly-input {
      i {
        color: tomato;
      }
    }
    &.disable {
      opacity: 0.2;
    }
  }
}
