@use '../../../assets/sass/theme.scss' as *;

.background {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    // width: 100%;
    // height: 100vh;
    // min-height: 100vh;
    background-color: $darker-10;
}

.progress-circle {
    display: flex;
    // flex-direction: column;
    z-index: 1001;
    width: 100px;
    height: 100px;
    margin: auto;
}
